@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CrimsonText-Regular;
    src: url(./assets/fonts/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: Merriweather-Regular;
    src: url(./assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: TiltNeon-Regular;
    src: url(./assets/fonts/TiltNeon-Regular.ttf);
}